@media only screen and (max-width: 768px) {
   .line {
      width: 0;
   }
   main {
      height: 333vh;
   }
   .images {
      height: 40vh;
   }
   h2 {
      margin: 0;
      font-size: 3vh;
   }
   .line {
      position: absolute;
      top: 90%;
      left: 0;
      width: 9vh;
      height: 1vh;
      background-color: #84734d;
      border-radius: 1vh;
      transition: all .3s ease-in-out;
   }
   .tab-box .tab-btn {
      font-size: 1.5vh;
   }
   .logos::before, .logos::after {
      position: absolute;
      top: 0;
      width: 5vh;
   }
   .content .logos-slider {
      animation: 8s slide infinite linear;
   }
   .block {
      width: 80%;
   }
   .article1 img {
      width: 100%;
      height: 22vh;
      margin-bottom: 1vh;
   }
   .article1 {
      margin: auto;
      height: 150vh;
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .article1 .biggerP {
      font-size: 2.8vh;
   }
   .article1 p {
      font-size: 1.8vh;
      margin-top: 1vh;
   }
   .section1,.section2{
      display: none;
   }
   .merch h2 {
      margin-top: 3vh;
   }
   .merch {
      height: 100vh;
      grid-template-columns: repeat(2, 1fr);
   }
   .merch-item img {
      height: 30vh;
   }
   .merch-item {
      height: 40vh;
   }
   .merch-item h6 {
      bottom: 3vh;
   }
   .text {
      width: 30%;
      top: 0;
   }
   .solo-videos {
      height: 30vh;
      width: 100%;
      height: 70%;
      display: flex;
      z-index: 0;
   }
   .solo-boxes img {
      height: 100%;
      width: 100%;
   }
   .solo-boxes {
      width: 100%;
   }
   .best-solos {
      margin-top: 4vh;
      display: block;
      height: 40vh;
   }
   .solo-boxes h1 {
      font-size: 2.5vh;
      top: 70%;
      left: 1vh;
      color: #fff;
   }
   .solo-boxes h6 {
      display: none;
   }
   .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      transition: 0.5s ease;
      right: 0;
   }
   .overlay img {
      width: 70%;
      height: 50%;
   }
   .play {
      height: 5vh;
   }
   .box-1:hover .overlay, .box-2:hover .overlay, .box-3:hover .overlay {
      height: 100%;
   }
   .latest-artist {
      height: 40vh;
      width: 100%;
   }
   .text-description {
      height: 5vh;
      position: relative;
   }
   .text-description h1, .text-description h3, .underline {
      left: 2vh;
   }
   .text-description h1 {
      top: 15vh;
      font-size: 2vh;
   }
   .text-description h3 {
      top: 14vh;
      font-size: 1.5vh;
   }
   .underline {
      top: 22vh;
      width: 20vh;
   }
   .page-top {
      height: 10vh;
      position: relative;
   }
   .page-top p:first-child {
      font-size: 3vh;
   }
   .page-top p {
      font-size: 2vh;
   }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
   .overlay {
      position: absolute;
      top: 0;
      left: 0;
      transition: 0.5s ease;
      right: 0;
   }
   .overlay img {
      width: 70%;
      height: 50%;
   }
   .images {
      height: 60vh;
   }
   .otherBlock {
      width: 50%;
   }
   .text-description h1 {
      font-size: 2.9vh;
      top: 35vh;
   }
   .text-description h3 {
      font-size: 2.5vh;
   }
   .sponsors {
      height: 45vh;
   }
   .solo-boxes h1, .solo-boxes h6 {
      left: 1vh;
   }
   .solo-boxes h1 {
      top: 70%;
   }
   .solo-boxes h6 {
      top: 64%;
   }
   .merch-item h6 {
      font-size: 1.8vh;
   }
}
@media only screen and (min-width: 1024px) {
   .solo-boxes h1, .solo-boxes h6 {
      left: 1vh;
   }
   .solo-boxes h1 {
      top: 70%;
   }
   .solo-boxes h6 {
      top: 64%;
   }
}